body {
    margin:9px 9px 0 9px;
    padding:0;
    background:#FFF;
}

#level0 {
    background:#FC0;
    width: 100%;
}

#level1 {
    margin-left:143px;
    padding-left:9px;
    background:#FFF;
}

#level2 {
    background:#FFF3AC;
    position: relative;
    width: inherit;
}

#main {
    margin-right:9em;
    padding-right:9px;
    background:#FFF;
    border-right: 2px;
}

#main h1 {
    margin:0;
    padding-left:.3em;
    font:1.25em Verdana,Helvetica,Arial;
    color:#609;
    background:#FC0;
}

#main dt {
    font-weight:bold;
    font-size:120%;
    margin-top:.8em;
    color:#609;
    text-decoration: underline;
}

#rgtBar h3 {
    margin:0;
    padding:3px;
    background:#FC0;
    font-weight:bold;
    font-size:1em;
    text-align:center;
    color:#609;
    text-decoration: underline;
}

#topBar {
    background:#FC0;
    width: 100%;
    display: grid;
    grid-template-rows: 5fr 5fr 5fr;
}

#advBar {
    background:#FFF3AC;
    clear: right;
}

#tipDay {
    float:right;
    width:175px;
    background:#FFF3AC;
    position: relative;
    padding-top: 40px;
}

#lftBar {
    position:absolute;
    width:143px;
    top:9px;
    left:9px;
}

#rgtBar {
    position:absolute;
    width:9em;
    top:0;
    right:0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#topBar form {
    float:right;
    width:10.5em;
    text-align:right;
    margin: 0;
    line-height: 0.7em;
}

#topBar input {
    font-size: 0.8em;
}

#topBar b {
    display:block;
    text-align:left;
    font:bold 0.8em/1.7em Arial,Geneva,sans-serif;
}

#topBar a {
    color:#609;
}

#tipTit {
    float:right;
    width:7em;
    text-align:right;
    position:relative;
    font:.8em/1.8em Arial,Geneva,sans-serif;
}

#advBar p{
    text-align: right;
    margin: 0 0.5em;
    font-weight: bold;
    vertical-align: bottom;
}